* {
    margin-top: 0;
}
body{
    height: 100%;
padding: 0;
margin: 0;
font-size: 16px;
}


.backgroundImg{
    background-image: url(/lemonBackground.jpg);
    background-repeat: no-repeat;
    height: 1060px;
}
.nav li  {
display: inline-flex;
font-size: 2em;
color: rgb(0, 0, 0);
font-family: 'Playfair Display', serif;
/* padding-left: 3rem; */
padding-top: 20px;
}

#ourStory, #contact{
    padding-left: 2em;

}

.nav a {
    text-decoration: none;
}

.nav li:hover{
   color: rgb(34, 68, 31);
   text-shadow: 2px 2px 8px #cfcdca;
   font-weight: bolder;
}

.topBar{
    display: flex;
    justify-content: space-between;
}

.header{
    font-size: 2.5em;
    color: #000;
    font-family: 'Amatic SC', cursive;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 5rem;
    justify-self: center;
    align-self: center;
}

.login{
    font-size: 2em;
    color: #000;
    font-family: 'Playfair Display', serif;
    padding-right: 5rem;
    padding-top: 20px;

}


.citrusCity{
    font-size: 10em;
    font-family: 'Playfair Display', serif;
    color: white;
    text-shadow: 2px 2px 5px #cfcdca;
}


.shopNow button{
    height: 2.5rem;
    width: 12rem;
    background-color: white;
    font-family:'Playfair Display', serif ;
    font-size: 1.5em;
    border: none;
}

.citrusShop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 27rem;
}




